body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    background-color: #020659;
}
.scroll{
    display: flex;
    grid-template-columns: repeat(5,1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section{
    margin: 10px;
    position:relative ;
}
.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
@media screen and  (min-width:375px){
    body{
        margin: 0 auto;
        display:center;
    }
    
}



@media screen and (min-width:834px) {

}
    
