/*text*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    background-color: #020659;
}
/*scroll*/
.scroll{
    display: flex;
    grid-template-columns: repeat(5,1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section{
    margin: 10px;
    position:relative ;
}
.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;

}
audio::-webkit-media-controls-mute-button {
background-color: #ffffff;
border-radius: 50%;

}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
    
}
audio::-webkit-media-controls-enclosure {
background-color: rgba(255,255,255,.5);
}
#TrendingSongs ::-webkit-scrollbar {
width: 15px;
}
#TrendingSongs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15 #590242;
}
#TrendingSongs::-webkit-scrollbar-thumb {

}
#TrendingSongs ::-webkit-scrollbar-thumb:hover {

}
#Your-Playlists ::-webkit-scrollbar, #Curated-Playlists::-webkit-scrollbar {

}
#Your-Playlists ::-webkit-scrollbar-track, #Curated-Playlists ::-webkit-scrollbar-track  {

}
#Your-Playlists ::-webkit-scrollbar-thumb, #cCurated-Playlists::-webkit-scrollbar-thumb {

}
#Your-Playlists ::-webkit-scrollbar-thumb:hover, #Curated-Playlists ::-webkit-scrollbar-thumb:hover {

}
dl{
    display: flex;
}
dt{
    padding: 5px;
}
audio{
    position: absolute;
    bottom: 150px;
    left: 5px;
}
@media screen and  (min-width:375px){
    body{
        margin: 0 auto;
        display:center;
    }
    
}



@media screen and (min-width:834px) {

}
    
