/*text*/
ul,h1,p{
    color: #ffffff;
}
h2,dl{
    color: #590242;
}
h1{
    font-size:1.25em;
    line-height: 2em;
}
h2, h3 {
font-size: 1em;
color: #590242;
line-height: 2em;
}
h1,h2,h3{
    font-weight: bold;
    text-transform: uppercase;

}
p, dl, dd {
    font-size: 1em;
    font-size: .75em;

}
footer p {
    font-size: .75em;
    color: #590242;
    display: center;
}
header{
    background-color:#030A8C;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
}


html{
    background-color: #020659;
}
#SmoothJazz{
    background-image:linear-gradient(to right,#2104d9,#020659) ;
}
li{
    color:#ffffff;
}
dl{
    display: flex;
}
dt{
    padding: 5px;
}
/* your playlist part*/
#Your-Playlists{
    background-color: #0d8dfb;

}
#Curated-Playlists{
    background-color: #020659;
}
#more{
    text-transform: none;
    text-decoration: none;
    background-color:#590242;
    color:#ffffff;
    border-radius: 5px;
    padding: 10px;
    width:150px;
    display: block;
    text-align:center;
    margin: 10px 0 30px 32px;
    position: static;
    
}
#more:hover{
    background: #020659;
}

/*Audio*/
audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
    
    }
    audio::-webkit-media-controls-play-button {
        background-color: #ffffff;
        border-radius: 50%;
        
    }
    audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.5);
    }
    
audio{
    position: absolute;
    bottom: 150px;
    left: 5px;
}


.scroll{
    display: flex;
    grid-template-columns: repeat(5,1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section{
    margin: 10px;
    position:relative ;
}
.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;

}

#TrendingSongs ::-webkit-scrollbar {
width: 15px;
}
#TrendingSongs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15 #590242;
}
#TrendingSongs::-webkit-scrollbar-thumb {
background: #590242;
border-radius: 5px;
}
#TrendingSongs ::-webkit-scrollbar-thumb:hover {
background: #020659;
}

#Your-Playlists ::-webkit-scrollbar, #Curated-Playlists::-webkit-scrollbar {
    width: 15px;
}
#Your-Playlists ::-webkit-scrollbar-track, #Curated-Playlists ::-webkit-scrollbar-track  {
  box-shadow: inset 0 0 15px #020659;
}
#Your-Playlists ::-webkit-scrollbar-thumb, #Curated-Playlists::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#Your-Playlists ::-webkit-scrollbar-thumb:hover, #Curated-Playlists ::-webkit-scrollbar-thumb:hover {
background: #ffffff;
}

@media screen and  (min-width:375px){
    body{
        margin: 0 auto;
        display:center;
    }
    
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}


